# Virtual environments
.venv/
venv/
env/
venv_knee_project/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Rr]ecordings/
[Uu]ser[Ss]ettings/

# Generated C# / Visual Studio files
*.csproj
*.sln
*.unityproj
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Unity crash reports
sysinfo.txt

# Visual Studio Code
.vscode/

# OS files
.DS_Store
Thumbs.db
desktop.ini
